html,body{ /* stil för hela sidan */
    height:100%;  /* tar upp hela höjden på fönstret */
    width:100%;/* samma som innan fast bredden */
    margin:0;/* gör så att det inte tar upp extra plats*/
    padding:0;/* samma här */
    display: flex;/* gör bodyn till en flex container */
    flex-direction: column;/* gör så att allt staplas i kolumner */
    overflow:hidden;/* gör så man inte kan scrolla */
}

.header{/* svarta baren längst upp*/
    display: flex; /* gör den till en flex container*/
    flex-direction: row; /* lägger allt på en rad*/
    background-color: black; /* bakgrunden blir svart*/
    justify-content:left;/* sätter allt till vänster */
    align-items:center;/* sätter det i vertikala mitten */
    margin-bottom:2px;/* lägger tomrum under 2 pixlar storlek */
    height:50px;/* gör den 50 pixlar hög*/
    width:100%;/* tar upp hela bredden*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/* typsnitt */
    font-weight:bold;/* fetstil */
    white-space: nowrap;/* så att texten är på en rad bara*/
}

.lek{ /*  texten till vänster i headern*/
    color:rgb(255, 255, 255); /* text färg */
    padding-left:10px; /* gör utrymme från vänster */
    margin-right:850px; /* gör 850 pixlar extra rum till höger*/
    font-size:15px; /* textstorlek */
    
}


.lekigt{ /* texten till höger i headern */
    color:white; /* färg*/
    padding-left:25px; /* mellanrum mellan "länkarna" */ 
    font-size:10px; /* storlek */ 
}


.CanIGetAPhoto{ /* svarta diven längs ner i vänster som håller bilden*/
    display: flex;  /* gör containern till en flex */
    background-color: black;  /* färg */
    justify-content:center; /* sätter det innuti i mitten av diven*/
    align-items:center; /* samma som ovan fast vertikal center */
    width:50%; /* gör att den tar upp vänstra delen av skärmen*/
    height:90%; /* tar upp 90% av höjden*/
    margin:0; /* inget extra rum*/

}

.img{ /* bilden*/
    height:70%; /* storlek relativt till diven den sitter i */
    border-radius:50%; /* gör så att den blir en cirkel*/
}

.texty{ /* texten höger om bilden */
    position:absolute; /* gör så att bilden är fri från allt annat*/
    right:150px; /* flyttar den 150px från högern*/
    top:250px; /* flyttar den 250px från toppen */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* typsnitt */
}
.p1{ /* div som håller övre texten */
    display:flex; /* du vet redan */
    justify-content:center; /* har sagt det innan*/
    font-weight:bold; /* fetstil */
    font-size:25px; /* storlek */
}

.p2{ /* div som håller undre texten*/
    display:flex; /* flex container */
    justify-content:center; /* sätter texten i mitten*/
    font-size:10px; /* storlek */
}